{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>BMO</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1 class="text-center">Search</h1>
            <div class="form-group">
                <div class="col-md-11">
                    <input type="text" name="search" class="form-control" placeholder="What are you looking for?" /><br>
                </div>
                <div class="col-md-1">
                    <button class="search-button btn btn-primary glyphicon glyphicon-menu-right"></button>
                </div>
            </div>
        </div>

        <div class="row">
            <form id="search-filter">
                {% csrf_token %}
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">Date Range</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">From</label>
                                <input type="date" name="from-date" />
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">To</label>
                                <input type="date" name="to-date" />
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">Location</div>
                        <div class="panel-body">
                            <div class="checkbox">
                                <label><input type="checkbox" name="location" value="France">France</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="location" value="Germany">Germany</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="location" value="England">England</label>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">Research Type</div>
                        <div class="panel-body">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="research-type" value="Reports">Reports
                                </label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="research-type" value="Comments">Comments
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="research-type" value="Flashes">Flashes
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="research-type" value="Periodicals">Periodicals
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="research-type" value="Red Sheets">Red Sheets
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="research-type" value="Videocast">Videocasts
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="research-type" value="Company Specific Only">Company Specific Only
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="research-type" value="Member of Top 15 lists">Member of Top 15 lists
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="research-type" value="Derivatives">Derivatives
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="research-type" value="Charts">Charts
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="research-type" value="NAVs">NAVs
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">Performance</div>
                        <div class="panel-body">
                            <div class="checkbox">
                                <label><input type="checkbox" name="performance" value="To Outperform">To Outperform</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="performance" value="To Market Perform">To Market Perform</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="performance" value="To Underperform">To Underperform</label>
                            </div>
                            <!-- <input type="checkbox" name="performance" value="all">Show all launches<br> -->
                        </div>
                    </div>
                </div>
            </form>

            <div class="col-md-9">
                <h2>Results</h2>

                <div class="search-data">
                    <div class="search-text" style="display: none;"><p class="lead">Searching...</p></div>
                    <div class="col-md-6">
                        <h2 class="search-title" style="display: none;">Company Data</h2>
                        <div class="company-data-results results"></div>
                    </div>

                    <div class="col-md-6">
                        <h2 class="search-title" style="display: none;">Research Data</h2>
                        <div class="research-data-results results col-md-6"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'index.js' %}"></script>
</body>
</html>
