{% load static dict_filter %}

<html lang="en">

<head>
    <title>BMO Test</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="{% static 'output.css' %}"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">
        .row {
            margin: 0 auto;
            max-width: 1440px;
            width: 100%;
            border: 1px solid;
            padding-left: 70px;
        }

        .row .column-1,
        .row .column-2 {
            padding: 0;
        }

        .row table tr th,
        .row table tr td {
            padding: 5px;
        }

        .row .column-1 .inner-container {
            width: 90%;
            margin: 0 auto;
        }

        .row .column-2 h3,
        .row .column-2 h4 {
          color: #0079c1;
        }

        .row .column-2 .team-member-table {
            width: 100%;
        }

        .row .column-1 .header-table {
            border: none;
        }

        .row .column-1 .header-table th,
        .row .column-1 .header-table td {
            border: none;
            padding: 0;
            font-weight: 500;
        }

        .row .column-1 .header-table tr th:nth-child(1) {
            border-right: 1px solid #ddd;
            font-weight: bold
        }

        .row .column-1 .header-table tr th:nth-child(2) {
            padding-left: 10px;
        }

        .row .column-1 .header-table tr:nth-child(2) th,
        .row .column-1 .header-table tr:nth-child(2) td {
            color: #0079c1;
            font-weight: bold;
            letter-spacing: 1px;
        }

        .row .disclosures-section {
            width: 93.5%;
            margin: 0 auto;
        }

        .block-summary-modal {
            margin: 0 auto;
        }

        .block-summary-modal .table,
        .company-data-tables .table {
            margin: 0;
        }

        .block-summary-modal .table tr th,
        .block-summary-modal .table tr td {
            background: #e1f1fd;
            width: 20%;
            border-color: #fff;
            text-align: right;
        }

        .block-summary-modal .table tr th:nth-child(1),
        .block-summary-modal .table tr td:nth-child(1) {
            width: 40%;
            text-align: left;
        }

        .company-data-tables .table tr th,
        .company-data-tables .table tr td {
            width: 25%;
            background: #e1f1fd;
            border-color: #fff;
        }
        .block-summary-modal .table tr:nth-child(1) th,
        .company-data-tables .table tr:nth-child(1) th {
            background: #0079c1;
            color: #fff;
            font-weight: bold;
            letter-spacing: 1px;
        }

        .company-data-tables .company-data tr:nth-child(1) th:nth-child(2),
        .company-data-tables .bmo_estimates tr:nth-child(1) th:nth-child(2) {
            text-align: right;
        }
    </style>
</head>

<body>
    <div class="row">
        <div class='col-md-8 column-1'>
            <div class="inner-container">
                <h1>{{ title_title|safe }}</h2><br>
                <table class="table table-bordered header-table">
                    <tr>
                        <th>{{ title_symbol|safe }}</th>
                        <th>Rating</th>
                        <th>Price: May-2</th>
                        <th>Target</th>
                        <th>Total Rtn</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>{{ header_data_rating|safe }}</th>
                        <td>{{ header_data_price|safe }}</td>
                        <td>{{ header_data_target|safe }}</td>
                        <td>{{ header_data_total_return|safe }}</td>
                    </tr>
                </table>
                <h3>{{ passage_heading|safe }}</h3>
                <p>Bottom Line:</p>
                {{ passage_bottom_line|safe }}
                <p>Key Points</p>
                {{ passage_key_points|safe }}
                </br>
                <div class="block-summary-modal">
                    <table class="table table-bordered income_statement">
                        <tr>
                            <th>Income Statement</th>
                            <th>2016A</th>
                            <th>2017E</th>
                            <th>2018E</th>
                        </tr>
                        <tr>
                            <td>Revenue</td>
                            <td>{{ income_statement.Revenue.2016 }}</td>
                            <td>{{ income_statement.Revenue.2017 }}</td>
                            <td>{{ income_statement.Revenue.2018 }}</td>
                        </tr>
                        <tr>
                            <td>Operating Costs</td>
                            <td>{{ income_statement.Operating_Costs.2016 }}</td>
                            <td>{{ income_statement.Operating_Costs.2017 }}</td>
                            <td>{{ income_statement.Operating_Costs.2018 }}</td>
                        </tr>
                        <tr>
                            <td>SG&A</td>
                            <td>{{ income_statement|get_key_value:"SG&A"|get_key_value:"2016" }}</td>
                            <td>{{ income_statement|get_key_value:"SG&A"|get_key_value:"2017" }}</td>
                            <td>{{ income_statement|get_key_value:"SG&A"|get_key_value:"2018" }}</td>
                        </tr>
                        <tr>
                            <td>EBITDA</td>
                            <td>{{ income_statement.EBITDA.2016 }}</td>
                            <td>{{ income_statement.EBITDA.2017 }}</td>
                            <td>{{ income_statement.EBITDA.2018 }}</td>
                        </tr>
                        <tr>
                            <td>Depreciation</td>
                            <td>{{ income_statement.Depreciation.2016 }}</td>
                            <td>{{ income_statement.Depreciation.2017 }}</td>
                            <td>{{ income_statement.Depreciation.2018 }}</td>
                        </tr>
                        <tr>
                            <td>Tax</td>
                            <td>{{ income_statement.Tax.2016 }}</td>
                            <td>{{ income_statement.Tax.2017 }}</td>
                            <td>{{ income_statement.Tax.2018 }}</td>
                        </tr>
                        <tr>
                            <td>Adjusted Net Earnings</td>
                            <td>{{ income_statement.Adjusted_Net_Earnings.2016 }}</td>
                            <td>{{ income_statement.Adjusted_Net_Earnings.2017 }}</td>
                            <td>{{ income_statement.Adjusted_Net_Earnings.2018 }}</td>
                        </tr>
                        <tr>
                            <td>EPS</td>
                            <td>{{ income_statement.EPS.2016 }}</td>
                            <td>{{ income_statement.EPS.2017 }}</td>
                            <td>{{ income_statement.EPS.2018 }}</td>
                        </tr>
                    </table>
                    <table class="table table-bordered cash_flow_statement">
                        <tr>
                            <th>Cash Flow Statement</th>
                            <th>2016A</th>
                            <th>2017E</th>
                            <th>2018E</th>
                        </tr>
                        <tr>
                            <td>Cash Flow From Operations</td>
                            <td>{{ cash_flow_statement|get_key_value:"Cash Flow From Operations"|get_key_value:"2016" }}</td>
                            <td>{{ cash_flow_statement|get_key_value:"Cash Flow From Operations"|get_key_value:"2017" }}</td>
                            <td>{{ cash_flow_statement|get_key_value:"Cash Flow From Operations"|get_key_value:"2018" }}</td>
                        </tr>
                        <tr>
                            <td>Cash Flow From Investments</td>
                            <td>{{ cash_flow_statement|get_key_value:"Cash Flow From Investments"|get_key_value:"2016" }}</td>
                            <td>{{ cash_flow_statement|get_key_value:"Cash Flow From Investments"|get_key_value:"2017" }}</td>
                            <td>{{ cash_flow_statement|get_key_value:"Cash Flow From Investments"|get_key_value:"2018" }}</td>
                        </tr>
                        <tr>
                            <td>Cash Flow From Financing</td>
                            <td>{{ cash_flow_statement|get_key_value:"Cash Flow From Financing"|get_key_value:"2016" }}</td>
                            <td>{{ cash_flow_statement|get_key_value:"Cash Flow From Financing"|get_key_value:"2017" }}</td>
                            <td>{{ cash_flow_statement|get_key_value:"Cash Flow From Financing"|get_key_value:"2018" }}</td>
                        </tr>
                        <tr>
                            <td>Free Cash Flow</td>
                            <td>{{ cash_flow_statement|get_key_value:"Free Cash Flow"|get_key_value:"2016" }}</td>
                            <td>{{ cash_flow_statement|get_key_value:"Free Cash Flow"|get_key_value:"2017" }}</td>
                            <td>{{ cash_flow_statement|get_key_value:"Free Cash Flow"|get_key_value:"2018" }}</td>
                        </tr>
                        <tr>
                            <td>FCF/Share</td>
                            <td>{{ cash_flow_statement|get_key_value:"FCF/Share"|get_key_value:"2016" }}</td>
                            <td>{{ cash_flow_statement|get_key_value:"FCF/Share"|get_key_value:"2017" }}</td>
                            <td>{{ cash_flow_statement|get_key_value:"FCF/Share"|get_key_value:"2018" }}</td>
                        </tr>
                    </table>
                    <table class="table table-bordered balance_sheet">
                        <tr>
                            <th>Balance Sheet</th>
                            <th>2016A</th>
                            <th>2017E</th>
                            <th>2018E</th>
                        </tr>
                        <tr>
                            <td>Cash & Equivalents</td>
                            <td>{{ balance_sheet|get_key_value:"Cash & Equivalents"|get_key_value:"2016" }}</td>
                            <td>{{ balance_sheet|get_key_value:"Cash & Equivalents"|get_key_value:"2017" }}</td>
                            <td>{{ balance_sheet|get_key_value:"Cash & Equivalents"|get_key_value:"2018" }}</td>
                        </tr>
                        <tr>
                            <td>Short-term debt</td>
                            <td>{{ balance_sheet|get_key_value:"Short-term debt"|get_key_value:"2016" }}</td>
                            <td>{{ balance_sheet|get_key_value:"Short-term debt"|get_key_value:"2017" }}</td>
                            <td>{{ balance_sheet|get_key_value:"Short-term debt"|get_key_value:"2018" }}</td>
                        </tr>
                        <tr>
                            <td>Long-Term Debt</td>
                            <td>{{ balance_sheet|get_key_value:"Long-Term Debt"|get_key_value:"2016" }}</td>
                            <td>{{ balance_sheet|get_key_value:"Long-Term Debt"|get_key_value:"2017" }}</td>
                            <td>{{ balance_sheet|get_key_value:"Long-Term Debt"|get_key_value:"2018" }}</td>
                        </tr>
                        <tr>
                            <td>Total Assets</td>
                            <td>{{ balance_sheet|get_key_value:"Total Assets"|get_key_value:"2016" }}</td>
                            <td>{{ balance_sheet|get_key_value:"Total Assets"|get_key_value:"2017" }}</td>
                            <td>{{ balance_sheet|get_key_value:"Total Assets"|get_key_value:"2018" }}</td>
                        </tr>
                        <tr>
                            <td>Total Liabilities</td>
                            <td>{{ balance_sheet|get_key_value:"Total Liabilities"|get_key_value:"2016" }}</td>
                            <td>{{ balance_sheet|get_key_value:"Total Liabilities"|get_key_value:"2017" }}</td>
                            <td>{{ balance_sheet|get_key_value:"Total Liabilities"|get_key_value:"2018" }}</td>
                        </tr>
                        <tr>
                            <td>Total Shareholders' Equity</td>
                            <td>{{ balance_sheet|get_key_value:"Total Shareholders' Equity"|get_key_value:"2016" }}</td>
                            <td>{{ balance_sheet|get_key_value:"Total Shareholders' Equity"|get_key_value:"2017" }}</td>
                            <td>{{ balance_sheet|get_key_value:"Total Shareholders' Equity"|get_key_value:"2018" }}</td>
                        </tr>
                    </table>
                    <table class="table table-bordered key_metrics">
                        <tr>
                            <th>Key Metrics</th>
                            <th>2016A</th>
                            <th>2017E</th>
                            <th>2018E</th>
                        </tr>
                        <tr>
                            <td>Silver Price (US$/oz)</td>
                            <td>{{ key_metrics|get_key_value:"Silver Price (US$/oz)"|get_key_value:"2016" }}</td>
                            <td>{{ key_metrics|get_key_value:"Silver Price (US$/oz)"|get_key_value:"2017" }}</td>
                            <td>{{ key_metrics|get_key_value:"Silver Price (US$/oz)"|get_key_value:"2018" }}</td>
                        </tr>
                        <tr>
                            <td>Gold Price (US$/oz)</td>
                            <td>{{ key_metrics|get_key_value:"Gold Price (US$/oz)"|get_key_value:"2016" }}</td>
                            <td>{{ key_metrics|get_key_value:"Gold Price (US$/oz)"|get_key_value:"2017" }}</td>
                            <td>{{ key_metrics|get_key_value:"Gold Price (US$/oz)"|get_key_value:"2018" }}</td>
                        </tr>
                        <tr>
                            <td>USD:MXN</td>
                            <td>{{ key_metrics|get_key_value:"USD:MXN"|get_key_value:"2016" }}</td>
                            <td>{{ key_metrics|get_key_value:"USD:MXN"|get_key_value:"2017" }}</td>
                            <td>{{ key_metrics|get_key_value:"USD:MXN"|get_key_value:"2018" }}</td>
                        </tr>
                        <tr>
                            <td>Guanaceví - Silver Prodn (koz)</td>
                            <td>2,552</td>
                            <td>2,364</td>
                            <td>2,939</td>
                        </tr>
                        <tr>
                            <td>Guanaceví - AISC (US$/oz)</td>
                            <td>24.95</td>
                            <td>17.25</td>
                            <td>17.61</td>
                        </tr>
                        <tr>
                            <td>Bolañitos - Silver Prodn (koz)</td>
                            <td>904</td>
                            <td>1053</td>
                            <td>976</td>
                        </tr>
                        <tr>
                            <td>Bolañitos - AISC (US$/oz)</td>
                            <td>10.67</td>
                            <td>15.33</td>
                            <td>13.65</td>
                        </tr>
                        <tr>
                            <td>El Cubo - AISC (US$/oz)</td>
                            <td>{{ key_metrics|get_key_value:"El Cubo - AISC (US$/oz)"|get_key_value:"2016" }}</td>
                            <td>{{ key_metrics|get_key_value:"El Cubo - AISC (US$/oz)"|get_key_value:"2017" }}</td>
                            <td>{{ key_metrics|get_key_value:"El Cubo - AISC (US$/oz)"|get_key_value:"2018" }}</td>
                        </tr>
                        <tr>
                            <td>Terronera - Silver Prodn (koz)</td>
                            <td>{{ key_metrics|get_key_value:"Terronera - Silver Prodn (koz)"|get_key_value:"2016" }}</td>
                            <td>{{ key_metrics|get_key_value:"Terronera - Silver Prodn (koz)"|get_key_value:"2017" }}</td>
                            <td>{{ key_metrics|get_key_value:"Terronera - Silver Prodn (koz)"|get_key_value:"2018" }}</td>
                        </tr>
                        <tr>
                            <td>Terronera - AISC (US$/oz)</td>
                            <td>{{ key_metrics|get_key_value:"Terronera - AISC (US$/oz)"|get_key_value:"2016" }}</td>
                            <td>{{ key_metrics|get_key_value:"Terronera - AISC (US$/oz)"|get_key_value:"2017" }}</td>
                            <td>{{ key_metrics|get_key_value:"Terronera - AISC (US$/oz)"|get_key_value:"2018" }}</td>
                        </tr>
                        <tr>
                            <td>Total Silver Prodn (koz)</td>
                            <td>{{ key_metrics|get_key_value:"Total Silver Prodn (koz)"|get_key_value:"2016" }}</td>
                            <td>{{ key_metrics|get_key_value:"Total Silver Prodn (koz)"|get_key_value:"2017" }}</td>
                            <td>{{ key_metrics|get_key_value:"Total Silver Prodn (koz)"|get_key_value:"2018" }}</td>
                        </tr>
                        <tr>
                            <td>Total Gold Prodn (koz)</td>
                            <td>{{ key_metrics|get_key_value:"Total Gold Prodn (koz)"|get_key_value:"2016" }}</td>
                            <td>{{ key_metrics|get_key_value:"Total Gold Prodn (koz)"|get_key_value:"2017" }}</td>
                            <td>{{ key_metrics|get_key_value:"Total Gold Prodn (koz)"|get_key_value:"2018" }}</td>
                        </tr>
                        <tr>
                            <td>Total Silver Equiv Prodn (koz)</td>
                            <td>{{ key_metrics|get_key_value:"Total Silver Equiv Prodn (koz)"|get_key_value:"2016" }}</td>
                            <td>{{ key_metrics|get_key_value:"Total Silver Equiv Prodn (koz)"|get_key_value:"2017" }}</td>
                            <td>{{ key_metrics|get_key_value:"Total Silver Equiv Prodn (koz)"|get_key_value:"2018" }}</td>
                        </tr>
                        <tr>
                            <td>Avg AISC Silver (US$/oz)</td>
                            <td>{{ key_metrics|get_key_value:"Avg AISC Silver (US$/oz)"|get_key_value:"2016" }}</td>
                            <td>{{ key_metrics|get_key_value:"Avg AISC Silver (US$/oz)"|get_key_value:"2017" }}</td>
                            <td>{{ key_metrics|get_key_value:"Avg AISC Silver (US$/oz)"|get_key_value:"2018" }}</td>
                        </tr>
                    </table>
                    <p>All values are listed in thousands unless stated otherwise. <br>Source: BMO Capital Markets, Company Reports</p>
                </div>
            </div>
        </div>
        <div class='col-lg-4 column-2'>
            <div class="team_members">
                <h3>BMO CAPITAL MARKETS</h3>
                </br>
                <h4>{{ header_data_side_title|safe }}</h4>
                </br>
                <table class="team-member-table">
                    <tr>
                        <th>{{ member1_name }}, {{ member1_position }}</th>
                        <td>{{ member1_role }}</td>
                    </tr>
                    <tr>
                        <td>{{ member1_email }}</td>
                        <td class="right-align">{{ member1_phone }}</td>
                    </tr>
                    <tr>
                        <td>{{ member2_name }}, {{ member2_position }}</td>
                        <td>{{ member2_role }}</td>
                    </tr>
                    <tr>
                        <td>{{ member2_email }}</td>
                        <td class="right-align">{{ member2_phone }}</td>
                    </tr>
                    <tr>
                        <td>{{ member3_name }}, {{ member3_position }}</td>
                        <td>{{ member3_role }}</td>
                    </tr>
                    <tr>
                        <td>{{ member3_email }}</td>
                        <td class="right-align">{{ member3_phone }}</td>
                    </tr>
                </table>
            </div>
            <br><br>
            <div class="company-data-tables">
                <table class="table table-bordered company-data">
                    <tr>
                        <th colspan="2">Company Data</th>
                        <th colspan="2">C$</th>
                    </tr>
                    <tr>
                        <th>Dividend</th>
                        <td>{{ company_data_dividend }}</td>
                        <th>Shares O/S (mm)</th>
                        <td>{{ company_data_shares }}</td>
                    </tr>
                    <tr>
                        <th>Yield</th>
                        <td>{{ company_data_yield }}</td>
                        <th>Market Cap (mm)</th>
                        <td>{{ company_data_market_cap }}</td>
                    </tr>
                    <tr>
                        <th>NAV</th>
                        <td>{{ company_data_nav }}</td>
                        <th>P/NAV</th>
                        <td>{{ company_data_p_nav }}</td>
                    </tr>
                </table>
                <table class="table table-bordered bmo_estimates">
                    <tr>
                        <th colspan="2">BMO Estimates</th>
                        <th colspan="2">C$</th>
                    </tr>
                    <tr>
                        <td>(FY-Dec.)</td>
                        <td>2016A</td>
                        <td>2017E</td>
                        <td>2018E</td>
                    </tr>
                    <tr>
                        <td>Revenue (mm)</td>
                        <td>{{ bmo_estimates|get_key_value:"Revenue (mm)"|get_key_value:"2016" }}</td>
                        <td>{{ bmo_estimates|get_key_value:"Revenue (mm)"|get_key_value:"2017" }}</td>
                        <td>{{ bmo_estimates|get_key_value:"Revenue (mm)"|get_key_value:"2018" }}</td>
                    </tr>
                    <tr>
                        <td>EPS</td>
                        <td>{{ bmo_estimates|get_key_value:"EPS"|get_key_value:"2016" }}</td>
                        <td>{{ bmo_estimates|get_key_value:"EPS"|get_key_value:"2017" }}</td>
                        <td>{{ bmo_estimates|get_key_value:"EPS"|get_key_value:"2018" }}</td>
                    </tr>
                    <tr>
                        <td>CFPS</td>
                        <td>{{ bmo_estimates|get_key_value:"CFPS"|get_key_value:"2016" }}</td>
                        <td>{{ bmo_estimates|get_key_value:"CFPS"|get_key_value:"2017" }}</td>
                        <td>{{ bmo_estimates|get_key_value:"CFPS"|get_key_value:"2018" }}</td>
                    </tr>
                    <tr>
                        <td>Ag Eq Prd Moz</td>
                        <td>{{ bmo_estimates|get_key_value:"Ag Eq Prd Moz"|get_key_value:"2016" }}</td>
                        <td>{{ bmo_estimates|get_key_value:"Ag Eq Prd Moz"|get_key_value:"2017" }}</td>
                        <td>{{ bmo_estimates|get_key_value:"Ag Eq Prd Moz"|get_key_value:"2018" }}</td>
                    </tr>
                    <tr>
                        <td>Sus. Margins</td>
                        <td>{{ bmo_estimates|get_key_value:"Sus. Margins"|get_key_value:"2016" }}</td>
                        <td>{{ bmo_estimates|get_key_value:"Sus. Margins"|get_key_value:"2017" }}</td>
                        <td>{{ bmo_estimates|get_key_value:"Sus. Margins"|get_key_value:"2018" }}</td>
                    </tr>
                </table>
                <table class="table table-bordered consensus_estimates">
                    <tr>
                        <th colspan="4">Consensus Estimates</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td>2016A</td>
                        <td>2017E</td>
                        <td>2018E</td>
                    </tr>
                    <tr>
                        <td>EPS</td>
                        <td>{{ consensus_estimates|get_key_value:"EPS"|get_key_value:"2016" }}</td>
                        <td>{{ consensus_estimates|get_key_value:"EPS"|get_key_value:"2017" }}</td>
                        <td>{{ consensus_estimates|get_key_value:"EPS"|get_key_value:"2018" }}</td>
                    </tr>
                </table>
                <table class="table table-bordered valuation">
                    <tr>
                        <th colspan="4">Valuation</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td>2016A</td>
                        <td>2017E</td>
                        <td>2018E</td>
                    </tr>
                    <tr>
                        <td>P/E</td>
                        <td>{{ valuation|get_key_value:"P/E"|get_key_value:"2016" }}</td>
                        <td>{{ valuation|get_key_value:"P/E"|get_key_value:"2017" }}</td>
                        <td>{{ valuation|get_key_value:"P/E"|get_key_value:"2018" }}</td>
                    </tr>
                    <tr>
                        <td>P/CFPS</td>
                        <td>{{ valuation|get_key_value:"P/CFPS"|get_key_value:"2016" }}</td>
                        <td>{{ valuation|get_key_value:"P/CFPS"|get_key_value:"2017" }}</td>
                        <td>{{ valuation|get_key_value:"P/CFPS"|get_key_value:"2018" }}</td>
                    </tr>
                    <tr>
                        <td>EV/EBITDA</td>
                        <td>{{ valuation|get_key_value:"EV/EBITDA"|get_key_value:"2016" }}</td>
                        <td>{{ valuation|get_key_value:"EV/EBITDA"|get_key_value:"2017" }}</td>
                        <td>{{ valuation|get_key_value:"EV/EBITDA"|get_key_value:"2018" }}</td>
                    </tr>
                </table>
                <table class="table table-bordered qtr-eps">
                    <tr>
                        <th>QTR. EPS</th>
                        <th>Q1</th>
                        <th>Q2</th>
                        <th>Q3</th>
                        <th>Q4</th>
                    </tr>
                    <tr>
                        <td>2016A</td>
                        <td>{{ eps|get_key_value:"2016"|get_key_value:"Q1" }}</td>
                        <td>{{ eps|get_key_value:"2016"|get_key_value:"Q2" }}</td>
                        <td>{{ eps|get_key_value:"2016"|get_key_value:"Q3" }}</td>
                        <td>{{ eps|get_key_value:"2016"|get_key_value:"Q4" }}</td>
                    </tr>
                    <tr>
                        <td>2017E</td>
                        <td>{{ eps|get_key_value:"2017"|get_key_value:"Q1" }}</td>
                        <td>{{ eps|get_key_value:"2017"|get_key_value:"Q2" }}</td>
                        <td>{{ eps|get_key_value:"2017"|get_key_value:"Q3" }}</td>
                        <td>{{ eps|get_key_value:"2017"|get_key_value:"Q4" }}</td>
                    </tr>
                    <tr>
                        <td>2018E</td>
                        <td>{{ eps|get_key_value:"2018"|get_key_value:"Q1" }}</td>
                        <td>{{ eps|get_key_value:"2018"|get_key_value:"Q2" }}</td>
                        <td>{{ eps|get_key_value:"2018"|get_key_value:"Q3" }}</td>
                        <td>{{ eps|get_key_value:"2018"|get_key_value:"Q4" }}</td>
                    </tr>
                </table>
            </div>
            <div>
                <h4>Our Thesis</h4>
                <p>{{ sidebar_stuff_our_thesis|safe }}</p>
                <h4>Valuation</h4>
                <p>{{ sidebar_stuff_valuation|safe }}</p>
                <h4>Upside Scenario</h4>
                <p>{{ sidebar_stuff_upside_scenario|safe }}</p>
                <h4>Downside Scenario</h4>
                <p>{{ sidebar_stuff_downside_scenario|safe }}</p>
                <h4>Company Description</h4>
                <p>{{ sidebar_stuff_company_description|safe }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="disclosures-section">
            <h4>IMPORTANT DISCLOSURES</h3>
            <h4>Analyst's Certification</h3>
            <p>{{ footer_stuff_certification|safe }}</p>
            <h4>Company Specific Disclosures</h4>
            <p>{{ footer_stuff_disclosures_1 }}</p>
            <p>{{ footer_stuff_disclosures_2 }}</p>
            <p>{{ footer_stuff_disclosures_3 }}</p>
            <p>{{ footer_stuff_disclosures_4 }}</p>
            <p>{{ footer_stuff_disclosures_5 }}</p>
            <h4>Methodology and Risks to Price Target/Valuation for Endeavour Silver (EDR-TSX)</h4>
            <p><strong>Methodology:</strong>{{ footer_stuff_methodology|safe|striptags }}</p>
            <p><strong>Risks:</strong>{{ footer_stuff_risks|safe|striptags }}</p>
        </div>
        <div class="disclosures-section">
            <h4>Distribution of Ratings (May 02, 2017)</h4>
            <table class="table table-bordered">
                <tr>
                    <td>Table Data missing</td>
                </tr>
            </table>
            {{ footer_constant_stuff_ratings|safe }}
        </div>
        <br/>
        <div class="disclosures-section">
            {{ footer_constant_stuff_ratings_key|safe }}
        </div>
        <div class="disclosures-section">
            {{ footer_constant_stuff_other_important_disclosures|safe }}
        </div>
        <div class="disclosures-section">
            {{ footer_constant_stuff_actual_footer|safe }}
        </div>
    </div>
</body>

</html>
